
.heroSection,
.headerSection{
margin-top: 25px;
margin-bottom: 25px;
}

.heroSection{
    margin-bottom: 0;
}

.headerSection{
    margin-top: 0;
}
.heroSection img{
    width: 100%;
}
.previewHeader{
    padding: 15px;
    text-align: right;
}

.card{
    margin-top: 40px;
}
.previewHeader a{
    background: #4684a1;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    border-radius: 3px;
    font-size: 14px;

}

.previewIframeWrapper{
    margin: 0;
    /* background-color: green; */
    border: 1px solid rgb(240, 240, 240);
    padding: 10px;
    min-height:calc(100vh - 54px);

}

.previewIframe{
    border: 1px solid #ccc;
    width: 100%;
    /* height: 100%; */
    height:calc(100vh - 54px);
  /* width:calc(100vw - 4px); */
  /* margin: 25px; */
  box-shadow: #706e6e;
  /* padding: 25px; */
}

.previewLoader{
    text-align: center;
    margin-top: 200px;
}

.previewLoader h4{
    font-size: 20px;
    margin-bottom: 20px;
}

.previewLoader p{
    font-size: 12px;
    margin-top: 20px;
}

.previewSVGLoader{
    max-width: 100px;
    margin: 0 auto;
}

.previewSVGLoaderError svg{
    /* width: 100%; */
}


.postStatus{
    font-size: 14px;
    margin:3px  0;
}

.postStatus span{
    background-color: #cd8900;
    color: #fff;
    padding: 3px 10px 4px 10px;
    border-radius: 15px;
    font-size: 10px;

}

.postStatus span.green{
    background-color: #0e7202; 
}

.btn{
    border: 1px solid #ccc;
}

.acfText{
    background-color: #ececec;
    padding: 25px;
}

h2{
    margin: 25px 0 15px 0;
}
